{% extends "layout:base.html.twig" %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block main %}

  <article class="article">
    <div class="article__cover-column">
      {% include "AppBundle:Article:_cover.html.twig" with {
        article: articleModel,
        class: "article__cover-image",
        rel: "lightbox"
      } %}
    </div>

    <div class="article__infos-column">

      {% if article.has('cycle') %}
        <p class="article__cycle">
          <a href="{{ path('cycle_show', { slug: article.cycle.url }) }}">
            {{ article.cycle.name }}
          </a>
          {% if article.has('tome') %}
            -
            {{ article.tome }}
          {% endif %}
        </p>
      {% endif %}

      <h1 class="article__title">{{ article.title }}</h1>

      <div class="article__authors-and-contributors">
        <p class="article__authors">
          {% if article.getAuthors() %}
            <span class="article__by">de</span>
          {% endif %}
          {% for author in article.getAuthors() %}
          <a href="{{ path('people_show', { slug: author.url }) }}">
            {{ author.name }}</a>{% if not loop.last %},
          {% endif %}
          {% endfor %}
        </p>

        <p class="article__contributors">
          {% if article.hasOtherContributors() %}
            et
            {% for people in article.getOtherContributors %}
              <a href="{{ path('people_show', { slug: people.url }) }}">{{ people.name }}</a>
              ({{ people.role }})
              {% if not loop.last %},
              {% endif %}
            {% endfor %}
          {% endif %}
        </p>
      </div>

      <p>
        <span class="fa fa-square led-green"></span>
        {{ article.price|currency(true)|raw }}
      </p>
      <p>
        {% include "AppBundle:Article:_cartButton.html.twig" with { "text": "Ajouter au panier" } %}
        <a class="btn btn-default" href="https://belial.fr/isbn/{{ article.ean }}">
          <span class="fa fa-book"></span>
          Voir le livre
        </a>
      </p>

      <p>
        Tirage pigmentaire sur papier coton neutre 310g.<br />
        Format d’impression environ 40x60 dans un format 50x70.
      </p>

      {% if article.ean %}

      {% endif %}
    </div>
  </article>

  {% if app.currentUser.isAdmin %}
    <div class="admin">
      <p>Article n° {{ article.id }}</p>
      <p><a href="/pages/article_edit?id={{ article.id }}">modifier</a></p>
      <p><a href="/pages/adm_stocks?article_id={{ article.id }}">stock</a></p>
      <p><a href="/pages/adm_stock?add={{ article.id }}">ajouter</a></p>
    </div>
  {% endif %}
{% endblock %}
